/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/12/2014, 08:19:21 AM
    Author     : SISTEMAS
*/
#pnlHeader{
    width: 100%;   
}

#pnlTitulo{
    display: table;
    text-align: center;    
    width: 100%;
    height: 32px;
}

#pnlEstado{
    display: table;
    text-align: center;    
    width: 100%;
    height: 32px;
    /*border-top: 1px solid;*/
}

