<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>requestFactoryServlet</servlet-name>
        <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestFactoryServlet</servlet-name>
        <url-pattern>/gwtRequest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceGestionSeguridad</servlet-name>
        <servlet-class>com.webgocommerce.server.rpc.ServiceGestionSeguridadImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceGestionSeguridad</servlet-name>
        <url-pattern>/gwtmainsuperadmin/servicegestionseguridad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceGestionSeguridad</servlet-name>
        <url-pattern>/gwtmainadmin/servicegestionseguridad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceGestionSeguridad</servlet-name>
        <url-pattern>/gwtmainuser/servicegestionseguridad</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>ServiceGestionSeguridad</servlet-name>
        <url-pattern>/gwtsesion/servicegestionseguridad</url-pattern>
    </servlet-mapping> 
    <servlet>
        <servlet-name>ServiceExportar</servlet-name>
        <servlet-class>com.webgocommerce.server.rpc.ServiceExportarImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceExportar</servlet-name>
        <url-pattern>/gwtsesion/serviceexportar</url-pattern>
    </servlet-mapping>   
    <servlet>
        <servlet-name>srvGestionSeguridad</servlet-name>
        <servlet-class>com.webgocommerce.server.servlet.SrvGestionSeguridad</servlet-class>
    </servlet>    
    <servlet-mapping>
        <servlet-name>srvGestionSeguridad</servlet-name>
        <url-pattern>/sesion.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>sesion.html</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.webgocommerce.server.servlet.HttpSessionCollector</listener-class>
    </listener>
</web-app>
